
<div class="col-md-offset-2 col-md-8">
  <img src="<%= @photo.photo_url %>" class="img-thumbnail" alt="Thumbnail Image">
<div>
    <%= @photo.name %>
  </div>

  <form action="/photos/<%= @photo.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn primary" type="submit" value="Delete Photo">
  </form>

  <form action="/photos/<%= @photo.id %>/edit" method="GET">
    <input class="btn primary" type="submit" value="Update Photo">
  </form>

 <a href="/categories/<%= @photo.category_id %>">Back</a>
  </div>
</div>