
<div class="col-md-offset-2 col-md-8">
  <img src="<%= @photo.photo_url %>" class="img-thumbnail" alt="Thumbnail Image">
<div>

<div class="caption">
  <%= @photo.name %>
</div>

<% if current_user.id == @photo.user_id %>
  <form action="/photos/<%= @photo.id %>/edit" method="GET">
    <input class="btn btn-default" type="submit" value="Update Caption">
  </form>

  <form class="photo_delete" action="/photos/<%= @photo.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-default" type="submit" value="Delete Photo">
  </form>
<% else %>
 <a class="btn btn-default" href="/categories/<%= @photo.category_id %>">Back</a>
  </div>
<% end %>
</div>